.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;

}
.logo{
    width: 100px;
}
.navitems>ul{
    display: flex;
    margin: 30px 30px;
}
    
.navitems>ul>li{
padding: 0 10px;
  list-style-type: none;
}
.res-container{
    display: flex;
   flex-wrap: wrap;
   
}
.rescard{

    width: 250px;
    padding: 10px;
    margin: 5px 10px;
}
.rescard:hover{
 border: 1px solid black;
 cursor: pointer;
}
.body{
    border: 1px solid black;
    margin-top: 20px;
    padding: 5px 10px;
}
.res-logo{
    width: 100%;
    height: 200px;
}
.filter-btn{
    cursor: pointer;
    margin: 10px;
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card{
      margin: 10px;
    width: 200px;
    height: 400px;
   background: #f0f0f0;
  
}
.filter-res{
display: flex;
flex-direction: row;
}
.search{
    margin: 10px;
    display: flex;
}
.Login-form{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 300px;
}
Link{
    text-decoration: none;
}
.btn-login>LinK{
margin: 20px 30px;
padding: 10px;
}
.user-card{
    width: 500px;
    height: 250px;
    border: 1px solid black;
}